@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Galano Grotesque";
  src: url("/fonts/GalanoGrotesque.otf");
}

body {
  font-family: "Galano Grotesque", sans-serif;
}
